.main {
  font-family: 'Inter', serif;
  margin: 0;
  padding: 0;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}
p {
  margin: 10px;
  font-weight: bold;
  text-align: center;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Контент будет выравниваться сверху */
  align-items: center;
  width: 100%;
  flex-grow: 1;
}
.header {
  display: flex;
  align-items: center;
  position: fixed; /* Сделать хедер фиксированным */
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;

  backdrop-filter: blur(0px);
  z-index: 100; /* Даем высокий z-index, чтобы он был поверх других элементов */
}

.header h1 {
  flex-grow: 1;
  text-align: center;
  font-size: 44px;
  margin: 0;

  margin-left: 15px;
}

.backButton {
  background: none;
  border: none;
  font-size: 20px;
  padding: 0 12px;
  cursor: pointer;
  color: #333;
}

/* calendar */
.modalContainer {
  position: sticky;
  background-color: white;
  padding: 10px;
  bottom: 0;
  z-index: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.cancelButton {
  top: 10px;
  right: 10px;
  position: absolute;
  background: none;
  border: none;
  color: #71727a;
  font-size: 12px;
  cursor: pointer;
}

.cancelButtonContainer {
  margin-bottom: 15px;
}

.cancelButton:hover {
  text-decoration: none;
}

.calendarWrapper {
  margin-bottom: 20px;
}

.modalActions {
  display: flex;
  justify-content: center;
}

.modalActions button {
  width: 100%;
  border-radius: 12px;
  text-transform: none;
  margin-bottom: 25px;
}

.cal {
  background: white;
  border: 0px solid #a0a096;
  font-family: 'Inter', serif;
  line-height: 1.125em;
}

.infoText {
  font-weight: 400;
  font-size: 25px; /* Размер шрифта */
  margin: 0; /* Убираем внешний отступ */
  padding: 0; /* Убираем внутренний отступ */
  line-height: 1.7;
}

.infoBlockWithHeart {
  width: 87%;
  display: flex;
  justify-content: space-between;
}
.infoBlockWithHeart > * {
  padding: 5px;
}

.textInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;

  font-size: 25px;
}

.heartButton {
  align-self: flex-start;
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
}

strong {
  font-weight: bold;
}

/* .infoBlockWithHeart {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  width: 100%;
  margin-bottom: 10px; 
} */

.landlordContainer {
  width: 87%;
  margin: 15px auto;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #eeeeee31; */
  border-radius: 12px;
}

.landlordPhoto {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 16px;
}

.landlordInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 16px;
  flex: 1;
  margin-left: 10px;
  max-width: 45%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.landlordName {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
}

.contactButton {
  padding: 8px 12px;
  background-color: #ffffff;
  color: #006ffd;
  border-color: #006ffd;

  border-radius: 12px;
  font-size: 14px;
  cursor: pointer;
  margin-right: 10px;
  text-transform: none;
  width: 30%;
}

.arrowButton {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.descriptionBlock {
  width: 87%;
  margin-bottom: 20px;
}

.descriptionText {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1%;
  color: #71727a;
  margin: 0;
  text-align: justify;
  white-space: normal; /* Позволяет тексту переноситься на несколько строк */
  word-wrap: break-word; /* Перенос длинных слов */
  overflow-wrap: break-word; /* Для предотвращения переполнения контейнера длинными словами */
}

.rentButton {
  width: 87%;
}
