@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.main {
  font-family: 'Inter', serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* header */

.header {
  text-align: center;
  position: sticky;
  top: 0;
  width: 100%;
  height: 30px;
}

.header h1 {
  font-size: 14px;
}

.wrapHeader {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(3px);
}

/* content */
.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  overflow-y: auto;
}

/* footer */
.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  padding: 7px 3px;
}

.items2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.buttonFooter {
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footerImg {
  width: 24px;
  height: 24px;
}

.footerSpan {
  color: #71727a;
  font-size: 10px;
}
