.main {
  font-family: 'Inter', serif;
  margin: 0;
  padding: 0;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.content {
  width: 90%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.title,
.subtitle,
.label {
  text-align: left;
  width: 100%;
}

.title {
  font-size: 16px;
}

.subtitle {
  color: gray;
  font-size: 12px;
  margin-bottom: 20px;
}
.label {
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  box-sizing: border-box;
}

.passwordContainer {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.eyeIcon {
  position: absolute;
  right: 10px;
  top: 45%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #808080;
}

.errorText {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.loginButton {
  background-color: #006ffd !important;
  color: white !important;
  font-size: 16px !important;
  padding: 10px !important;
  border-radius: 12px !important;
  margin-bottom: 15px !important;
  width: 100% !important;
  text-transform: none;
  box-shadow: none;
}

.loginButton:hover {
  background-color: white !important;
  color: #006ffd !important;
  border: 1px solid #006ffd !important;
  box-shadow: none;
}

.checkboxContainer {
  margin-bottom: 40px;
}

.disabled {
  background-color: #ccc !important;
  color: #888 !important;
  cursor: not-allowed !important;
}

.infoText {
  font-size: 12px;
}

.checkbox {
  width: 20px; /* Увеличиваем ширину */
  height: 20px; /* Увеличиваем высоту */
  transform: scale(1.5); /* Альтернативный способ увеличения */
  cursor: pointer; /* Для улучшения пользовательского опыта */
}

.checkboxText {
  font-size: 12px;
  color: #71727a;
  margin-left: 5px;
}

.checkboxContainer {
  display: flex;
  align-items: center; /* Выравнивает элементы по вертикали */
  gap: 10px; /* Отступ между чекбоксом и текстом */
}
