@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Принудительно белый фон для всех основных элементов */
div,
section,
article,
main,
header,
footer {
  background-color: #ffffff !important;
}

/* Для Material-UI компонентов */
.MuiPaper-root {
  background-color: #ffffff !important;
}
body {
  margin: 0;
  background-color: #ffffff !important;
  color: #000000 !important;
  overflow-x: hidden;
  width: 100dvw;
}
.react-calendar__navigation__label {
  font-family: "Inter", serif;

  color: black;
  font-weight: bold;
  pointer-events: none;
  cursor: default;
  font-size: 1.2rem;
  text-align: center;
  padding: 0;
}

.react-calendar__navigation__label::before {
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
}

.react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.react-calendar__month-view__header {
  order: 1;
}

.react-calendar__navigation__prev-button {
  color: black;
  font-size: 20px;
  order: 2;
}

.react-calendar__navigation__next-button {
  font-size: 20px;
  color: black;
  order: 3;
}
.react-calendar__navigation button:enabled:hover {
  background-color: white !important;
}

.react-calendar__navigation button:disabled,
.react-calendar__navigation button:disabled:focus,
.react-calendar__navigation button:disabled:focus-visible {
  background-color: white !important;
}

.react-calendar__navigation button:disabled {
  text-align: left;
  margin-left: 15px;
}

abbr[title] {
  font-size: 10px;
  text-decoration: none;
}
.react-calendar__month-view__weekdays__weekday {
  margin-bottom: 5px;
}
.react-calendar__tile.react-calendar__month-view__days__day {
  border: 0.5px solid #e0e0e07e;
}

.react-calendar__tile {
  padding: 15px !important;
}
.react-calendar__tile abbr {
  color: black;
}
